<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  th:with="version=${T(tech.tgls.mms.auth.view.helper.StaticHelper).getVersion()}">

<head>
  <title>管理员登录</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="http://cdn.bootcss.com/weui/0.4.3/style/weui.min.css">
  <link rel="stylesheet" href="http://cdn.bootcss.com/jquery-weui/0.8.2/css/jquery-weui.min.css">
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/jquery-weui/0.8.2/js/jquery-weui.min.js"></script>
  <link rel="stylesheet" th:href="@{'/css/oauth.css?' + ${version}}">
</head>

<body class="loginbg">
  <div class="loginInfo" id="login2">
    <form action="/admin/login" method="post">
      <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <label class="weui_label">用户名</label>
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" id="username" type="text" placeholder="请输入用户名" name="username">
          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <label class="weui_label">密码</label>
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" id="password" type="password" placeholder="请输入密码" name="password">
          </div>
        </div>
      <div class="weui_btn_area login_div">
        <button id="submit" class="weui_btn  weui_btn_primarysubmit">管理员登录</button>
      </div>
    </form>
  </div>
</body>

</html>