<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  th:with="version=${T(tech.tgls.mms.auth.view.helper.StaticHelper).getVersion()}">
<head>
    <title>服务协议</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/0.4.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/0.8.2/css/jquery-weui.min.css">
    <link rel="stylesheet" th:href="@{'css/oauth.css?' + ${version}}">

</head>
<body class="bg">
<div class="agreement_content">

    <h3 class="title">港华燃气网上客户服务协议</h3>
    <div style="text-align: center">最后修订时间：2016年12月28日</div>
    <p>
        欢迎申请使用港华投资有限公司及其他合作运营主体（下列简称为“港华燃气”）提供的服务。为保障您（下列简称为“客户”）的权益，明确双方的权利和义务，规范双方业务行为，本着平等互利的原则，与客户达成如下协议，请客户仔细阅读以下全部内容。如客户进入注册程序并勾选“我已阅读并同意《港华燃气网上客户服务协议》”，即表示客户与港华燃气已达成协议，同意并自愿接受本协议的全部条款和条件。如客户不同意本服务协议任意内容，请勿注册或使用服务。此后，客户不得以未阅读本服务协议内容作任何形式的抗辩。</p>
    <b> 第一条 服务协议的确认和接纳</b>

    <p>
        港华燃气网上客户服务涉及到的产品的所有权以及相关软件的知识产权归港华燃气所有。港华燃气所提供的服务必须按照其发布的公司章程、服务协议和操作规则严格执行。本服务协议的效力范围及于港华燃气的一切产品和服务，客户在享受港华燃气任何单项服务时，应当受本服务协议的约束。</p>

    <p>
        当客户使用港华燃气各单项服务时，应以港华燃气认可的方式同意该单项服务的服务协议以及港华燃气在该单项服务中发出的各类公告（下列简称为“单项条款”），在此情况下单项条款与本服务协议同时对客户产生效力。若单项条款与本服务协议存在同类条款的冲突，则在单项条款约束范围内应以单项条款为准。</p>
    <b> 第二条 服务协议的修改</b>

    <p>
        港华燃气有权在必要时通过在网页上发出公告等合理方式修改本服务协议以及各单项服务的相关条款。客户在享受各项服务时，应当及时查阅了解修改的内容，并自觉遵守本服务协议以及该单项服务的相关条款。客户如继续使用本服务协议涉及的服务，则视为对修改内容的同意，当发生有关争议时，以最新的服务协议为准；客户在不同意修改内容的情况下，有权停止使用本服务协议涉及的服务。</p>
    <b>第三条 服务的变更或中止</b>

    <p> 港华燃气始终在不断变更和改进服务。港华燃气可能会增加或删除功能，也可能暂停或彻底停止某项服务。客户同意港华燃气有权行使上述权利且不需对客户或第三方承担任何责任。</p>
    <b> 第四条 客户身份认证要素</b>

    <p>
        客户身份认证要素（指在网上自助交易中用于识别客户身份的信息要素，如账号、服务密码等，下同）是本网站在提供网上自助服务过程中识别客户身份的依据，客户必须妥善保管，不得将身份认证要素提供给任何第三方（包括网站工作人员）或交于任何第三方使用。服务密码是客户重要的个人资料，请客户务必注意服务密码的保管，凡使用服务密码办理的一切业务，均视为客户本人亲自办理，并由客户负责。客户应维持帐号和服务密码的机密安全，如果客户未保管好自己的帐号和密码而对客户、港华燃气或第三方造成损害，客户将负全部责任。客户同意若发现任何非法使用客户帐号或安全漏洞的情况，有义务立即通告港华燃气。</p>
    <b>第五条 客户隐私制度</b>

    <p>
        客户知悉并同意，为便于向客户提供更好的服务，港华燃气将在客户自愿选择服务或者提供信息的情况下收集客户的个人信息，并将这些信息进行整合。在客户使用港华燃气服务时，服务器会自动记录一些信息，包括但不限于URL、IP地址、浏览器类型、使用语言、访问日期和时间等。为方便客户登录或使用港华燃气的服务，港华燃气在有需要时将使用cookies等技术，并将收集到的信息发送到对应的服务器。客户可以选择接受或者拒绝cookies。如客户选择拒绝cookies，则客户有可能无法登录或使用依赖于cookies的服务或者功能。港华燃气收集的信息将成为港华燃气常规商业档案的一部分，且有可能因为转让、合并、收购、重组等原因而被转移到港华燃气的继任公司或者指定的一方。港华燃气同意善意使用收集的信息，且采取各项措施保证信息安全。</p>

    <p>尊重客户个人隐私是港华燃气的一项基本政策。所以，港华燃气不会公开或透露客户的注册资料及保存在港华燃气各项服务中的非公开内容，除非港华燃气在诚信的基础上认为透露这些信息在以下几种情况是必要的：</p>

    <p>（1）事先获得客户的明确授权；或</p>

    <p>（2）遵守有关法律规定，包括在国家有关机关查询时，提供客户的注册信息、客户在港华燃气的网页上发布的信息内容及其发布时间、互联网地址或者域名；或</p>

    <p>（3）保持维护港华燃气的知识产权和其他重要权利；或</p>

    <p>（4）在紧急情况下竭力维护客户个人和社会大众的隐私安全；或</p>

    <p>（5）根据本条款相关规定或者港华燃气认为必要的其他情况下。</p>

    <p>港华燃气可能会与第三方合作向客户提供相关的网络服务，在此情况下，如该第三方同意承担与港华燃气同等的保护客户隐私的责任，则港华燃气可将客户信息提供给该第三方。</p>
    <b>第六条 客户管理</b>

    <p> 客户独立承担其发布内容的责任。客户对服务的使用必须遵守所有适用于服务的地方法律、国家法律和国际法律。客户承诺：</p>

    <p>（1）客户在港华燃气的网页上发布信息或者利用港华燃气的服务时必须符合中国有关法规，不得在港华燃气的网页上或者利用港华燃气的服务制作、复制、发布、传播以下信息：</p>

    <p> (a) 违反宪法确定的基本原则的；</p>

    <p>(b) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>

    <p>(c) 损害国家荣誉和利益的；</p>

    <p>(d) 煽动民族仇恨、民族歧视，破坏民族团结的；</p>

    <p>(e) 破坏国家宗教政策，宣扬邪教和封建迷信的；</p>

    <p>(f) 散布谣言，扰乱社会秩序，破坏社会稳定的；</p>

    <p>(g) 散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</p>

    <p>(h) 侮辱或者诽谤他人，侵害他人合法权益的；</p>

    <p>(i) 煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；</p>

    <p>(j) 以非法民间组织名义活动的；</p>

    <p>(k) 含有法律、行政法规禁止的其他内容的。</p>

    <p>（2）客户在港华燃气的网页上发布信息或者利用港华燃气的服务时还必须符合其他有关国家和地区的法律规定以及国际法的有关规定。</p>

    <p>（3）客户不得利用港华燃气的服务从事以下活动：</p>

    <p>(a) 未经允许，进入计算机信息网络或者使用计算机信息网络资源的；</p>

    <p>(b) 未经允许，对计算机信息网络功能进行删除、修改或者增加的；</p>

    <p>(c) 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；</p>

    <p>(d) 故意制作、传播计算机病毒等破坏性程序的；</p>

    <p>(e) 其他危害计算机信息网络安全的行为。</p>

    <p>（4）客户不得以任何方式干扰港华燃气的服务。</p>

    <p>（5）客户不得滥用港华燃气服务。</p>

    <p>（6）客户应遵守港华燃气的所有其他规定和程序。</p>

    <p>
        客户须对自己在使用港华燃气服务过程中的行为承担法律责任。客户承担法律责任的形式包括但不限于：对受到侵害者进行赔偿，以及在港华燃气首先承担了因客户行为导致的行政处罚或侵权损害赔偿责任后，客户应给予港华燃气等额的赔偿。若客户违反以上规定，港华燃气有权作出独立判断立即暂停或终止对客户提供部分或全部服务。</p>
    <b>第七条 燃气业务网上自助服务</b>

    <p>燃气业务网上自助服务是指通过网上渠道进行充值缴费、安装维修、服务咨询等业务。客户申请业务之前应先了解业务资费及详细使用情况，使用过程中如有疑问，可浏览本网站的相关栏目或拨打所在地港华燃气企业服务热线进行查询。</p>

    <p>业务受理系统的所有权和运作权归港华投资有限公司，所受理具体业务的经营权归您所在地港华燃气企业，客户在办理燃气业务时需遵守相关法律法规规定和所在地燃气企业公示的燃气业务服务规程及标准。</p>
    <b>第八条 通知</b>

    <p>所有发给客户的通知都可通过电子邮件、短信、常规的信件或在网站显著位置公告的方式进行传送。港华燃气将通过上述方法之一将消息传递给客户，告知他们服务条款的修改、服务变更、或其它重要事情。

    <p>
        <b>第九条 内容、商标的所有权</b>

    <p>
        港华燃气提供的内容包括但不限于：非客户上传/提供的文字、软件、声音、相片、视频、图表等。所有这些内容均属于港华燃气，并受版权、商标、专利和其它财产所有权法律的保护。所以，客户只能在港华燃气授权下才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的派生产品。</p>

    <p>
        港华燃气、Towngas等，以及港华燃气的其他标志及港华燃气产品、服务的名称，均为港华燃气之商标（以下简称“港华燃气标识”）。未经港华燃气事先书面同意，您不得将港华燃气标识以任何方式展示或使用或作其他处理，也不得向他人表明您有权展示、使用、或其他有权处理港华燃气标识的行为。</p>
    <b>第十条 不可抗力条款</b>

    <p>
        港华燃气对不可抗力导致的损失不承担责任。本服务条款所指不可抗力包括：天灾、法律法规或政府指令的变更，因网络服务特性而特有的原因，例如境内外基础电信运营商的故障、计算机或互联网相关技术缺陷、互联网覆盖范围限制、计算机病毒、黑客攻击等因素，及其他合法范围内的不能预见、不能避免并不能克服的客观情况。</p>
    <b>第十一条 免责声明</b>

    <p>
        （1）本网站仅以现有的、按其现状提供有关的信息、材料及运行。不对有关本网站或其所提供的材料和信息的可用性、准确性或可靠性做出任何种类的保证，包括但不限于对产权、风险、不侵权、准确性、可靠性、适销性、使用正确性、适合特定用途或其它适当性。</p>

    <p>（2）本网站不保证所提供的服务一定能满足客户的要求，不保证服务不会中断，不保证服务的绝对及时、安全、真实和无差错，也不保证客户发送的信息能完全准确、及时、顺利地被传送。</p>

    <p>（3不论何种情形，本网站都不对任何由于使用或无法使用本网站提供的服务所造成间接的、附带的、特殊的或余波所及的损失、损害、债务或商务中断承担任何责任。</p>
    <b>第十二条 法律适用及争议解决</b>

    <p>本协议的成立、生效、履行和解释，均适用中华人民共和国法律；在法律允许范围内，本协议由港华投资有限公司负责解释。履行本协议的过程中，如发生争议，应友好协商解决。协商不成的，任何一方均可向人民法院起诉。</p>
    <b>第十三条 协议生效和效力</b>

    <p>本协议自客户选择“我已阅读并同意《港华燃气网上客户服务协议》”时生效。本协议的任何条款如因任何原因而被确认无效，都不影响本协议其他条款的效力。</p>



</div>
</body>
</html>
